.encabezado{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.navegacion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
}

.buscar{
    border-radius: 25px;
    margin-left: 10px;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 15px;
    margin-left: 30px;
  }
  
  input {
    flex-grow: 1;
    border: none;
    outline: none;
  }
  
  button {
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  svg {
    width: 15px;
    height: 15px;
    fill: #888;
  }

  .btn {
    background-color: #fff; 
    border: 1px solid #00f;
    border-radius: 0;
    color: #00f;
    padding: 10px 20px; 
    width: 200px;
    height: 50px;
  }
  
  .btn:hover {
    background-color: #00f;
    color: #fff;
  }

  .banner{
    background-image: url("../img/banner-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 352px;

  }

  .titulo__banner{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3.5em;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
    padding: 150px 0 0 80px;
  }

  .info__banner{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.4em;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
    margin-bottom: 20px;
    padding: 0 0 0 80px;
  }

  .btn__banner{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(81, 81, 230); 
    color: rgb(255, 255, 255);
    padding: 10px 20px; 
    width: 150px;
    height: 50px;
    margin-left: 80px;
  }

  .btn_agregar{
    font-family:sans-serif;
    background-color: rgb(81, 81, 230); 
    color: rgb(255, 255, 255);
    padding: 10px 20px; 
    margin-right: 10px;
    width: 180px;
    height: 50px;
  }

  .all__products{
    padding: 50px 10px 50px 10px;
    background-color: rgb(219, 219, 219);

  }

  .products{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
  }

  .titulo__star__wars__products{
    margin-left: 10px;
  }

  .star__wars__products{
    margin: 50px 20px 20px 50px;
  }

  .titulo__vertodo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .vertodo__star__wars__products{
    margin-right: 40px;
    color: blue;
  }

.contacto{
  background-color: rgb(228, 237, 253);
  display: flex;
  justify-content: center;
  padding: 50px 50px 50px 50px;
}

.contacto__contenido{
  display: flex;
  justify-content: space-around;
  
  width: 80%;
}

.contacto .sobre__nosotros{
  display: flex;
  flex-direction: column;
}

.item__contacto{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 15px;
}

.form-control{
  padding: 15px 20px;
}

.btn_enviar{
  font-family:sans-serif;
  background-color: rgb(81, 81, 230); 
  color: rgb(255, 255, 255);
  padding: 10px 20px; 
  width: 180px;
  height: 50px;
}

.footer__contenido{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.logoFenix{
  margin: 10px 10px 10px 10px;
}

.formulario__addProduct{

  display: flex;
  justify-content: center;

}

.titulo__addProduct{
  text-align:center ;
  margin: 10px 50px 50px 50px;
}

.add__products{
  padding: 50px 50px 50px 50px;
  background-color: #c5c5c5;
}


.btn__guardar{
  font-family:sans-serif;
  background-color: rgb(93, 93, 245); 
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 10px 20px; 
  width: 500px;
  height: 50px;
}

.product{
  position: relative;
  display: inline-block;
  margin: 10px;
}

.iconos-esquina {
  position: absolute;
  top: 0;
  right: 0;
}

.icono {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
  color: #f2f2f2;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}

.btn__regresar{
    font-family:sans-serif;
    /* background-color: rgb(81, 81, 230);  */
    color: rgb(255, 255, 255);
    padding: 10px 20px; 
    margin-right: 10px;
    width: 180px;
    height: 50px;
}

.completado{
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px 50px 50px;
  
}